*
{
	font-family: 'Myriad Pro';
	font-size: 12px;

	margin: 0px;
	padding: 0px;
}

.clear { clear: both; }

.banner
{
	background-color: #424242;

	padding: 10px;
}

.banner .logo
{
	background-image: url('../images/logo.png');
	background-size: contain;

	width: 150px;
	height: 150px;

	margin: 0 auto;
}

.banner .texto1
{
	background-image: url('../images/u354-5.png');

	width: 772px;
	height: 81px;

	margin: 20px auto;
}

.banner .botoes
{
	width: 150px;
	margin: 0 auto;
}

.botao
{
	padding: 10px;
	background-color: #990100;

	text-align: center;
	border-radius: 5px;
}

.botao:hover
{
	color: #990100;
	background-color: white;
}

a
{
	color: white;
	text-decoration: none;
}

a:hover
{
	color: white;
	text-decoration: none;
}

.area1
{
	margin: 20px;
}

.area1 .area
{
	background-image: url('../images/u142-4.png');

	width: 623px;
	height: 46px;

	margin: 0 auto;
}

.area1 .areas
{
	width: 870px;

	margin: 0 auto;
}

.area1 .areas .columa1 
{
	float: left;

	margin-top: 70px;
}

.area1 .areas .columa1 .texto1
{
	background-image: url('../images/u148-4.png');

	width: 311px;
	height: 70px;
}

.area1 .areas .columa1 .texto2
{
	background-image: url('../images/u149-4.png');

	width: 311px;
	height: 70px;

	margin-top: 50px;
}

.area1 .areas .columa2
{
	background-image: url('../images/android3.png');

	width: 194px;
	height: 366px;

	margin: 0 20px;

	float: left;
}

.area1 .areas .columa3 
{
	float: left;

	margin-top: 70px;
}

.area1 .areas .columa3 .texto1
{
	background-image: url('../images/u150-4.png');

	width: 311px;
	height: 70px;
}

.area1 .areas .columa3 .texto2
{
	background-image: url('../images/u151-4.png');

	width: 311px;
	height: 70px;

	margin-top: 50px;
}

.area2
{
	background-color: #DADADA;

	padding: 20px;
}

.area2 .texto
{
	background-image: url('../images/u372-4.png');

	width: 772px;
	height: 65px;

	margin: 20px auto;
}

.area2 .botoes
{
	width: 150px;
	margin: 0 auto;
}

.area3
{
	padding: 20px;
	margin: 0 auto;

	width: 900px;
}

.area3 .coluna1 
{
	float: left;

	margin-top: 50px;
}

.area3 .coluna1 .texto1
{
	background-image: url('../images/u133-4.png');

	width: 574px;
	height: 69px;

	margin-bottom: 40px;
}

.area3 .coluna1 .texto2
{
	background-image: url('../images/u135-10.png');

	width: 568px;
	height: 176px;
}

.area3 .coluna2
{
	background-image: url('../images/iphon2.png');

	width: 195px;
	height: 395px;

	float: right;
}

.area4
{
	background-color: #DADADA;

	padding: 20px;
	padding-bottom: 0px;
}

.area4 .texto
{
	background-image: url('../images/u376-4.png');

	width: 654px;
	height: 64px;

	margin: 20px auto;
}

.area4 .botoes
{
	width: 320px;
	margin: 0 auto;
}

.area4 .botoes .botao
{
	float: left;
}

.area4 .botoes .botao:first-child
{
	margin-right: 20px;
}

.area4 .facebook
{
	width: 300px;
	margin: 20px auto;
}

.area4 .fotos
{
	width: 600px;
	margin: 0 auto;
}

.area4 .fotos .foto1
{
	background-image: url('../images/android.png');

	width: 281px;
	height: 180px;

	float: left;

	margin-top: 15px;
}

.area4 .fotos .foto2
{
	background-image: url('../images/iphone.png');

	width: 312px;
	height: 195px;

	float: left;
}

.formulario
{
	width: 500px;

	margin: 0 auto;
}

.formulario .texto
{
	background-image: url('../images/u221-4.png');
	background-position: center;

	width: 500px;
	height: 41px;

	margin: 20px 0;
}

.formulario2
{
	margin: 0;
	margin-top: 20px;
	width: 100%;

	padding: 20px;
	padding-bottom: 20px;
}

.formulario2 .texto
{
	background-image: url('../images/u338-4.png');
	background-position: center;

	width: 500px;
	height: 41px;

	margin: 20px auto;
}

.formulario2 form
{
	margin: 0 auto;

	width: 500px;
}

.newsletter
{

	background-color: #DADADA;
}

.newsletter .texto
{
	background-image: url('../images/u152-4.png');

	width: 751px;
	height: 41px;

	margin: 20px auto;
}

.newsletter .form
{
	width: 500px;
	margin: 0 auto;
}

.newsletter .form input[type=text]
{
	padding: 20px;
	background-color: #FAFAFA;

	border: 1px solid #9E9E9E;

	width: 410px;

	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	-khtml-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}

.newsletter .form input[type=submit]
{
	padding: 20px;
	background-color: #B40000;

	margin-left: -5px;

	color: white;

	border: 1px solid #9E9E9E;

	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	-khtml-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}

.rodape
{
	background-color: #B40000;
	margin-top: 20px;

	padding: 20px;

	color: white;

	text-align: center;
}

.rodape ul
{
	width: 175px;
	margin: 0 auto;

	padding-bottom: 20px;
}

.rodape li
{
	float: left;
	margin-right: 10px;

	list-style: none;
}

.rodape li:nth-child(4)
{
	margin-right: 0px;
}
