<div class="content stores">
	<div class="stores md-padding">
		<md-tabs md-dynamic-height md-border-bottom md-autoselect>
			<md-tab label="Institucional">
				<div class="card-data" style="margin:10px;">
                    <p>
                        </p><div>Olá !!!</div>
                        <div><br></div>
                        <div>Somos o <span style="color: #03a9f4;">ACHOW</span>, como o nome já diz tudo que você precisa, pode procurar e você <span style="color: #03a9f4;">ACHOW</span>.</div>
                        <div><br></div>
                        <div>Desenvolvemos uma plataforma exclusiva, que vai ajudar você na busca do tudo que você precisar, nosso ponto de partida é a cidade de Porto Feliz / SP, porém nossas ambições são muito...muito maiores, e já estamos trabalhando duro pra isso.</div>
                        <div><br></div>
                        <div>Nosso objetivo, foi criar uma plataforma de interação entre você seus amigos e a cidade de Porto Feliz, para isso investimos pesado no desenvolvimento de nosso projeto, e ao final criamos o ÙNICO aplicativo que permite você interagir com sua cidade, pois aqui você pode:</div>
                        <div><br></div>
                        <div>- Baixar gratuitamente o aplicativo <span style="color: #03a9f4;">ACHOW</span></div>
                        <div><br></div>
                        <div>- Visitar todos os lugares da cidade, seja para se deliciar com os sabores da cidade, comprar o&nbsp;</div>
                        <div><br></div>
                        <div>que precisa, consultar onde vai se divertir, &nbsp;saber dos EVENTOS e participar dos SORTEIOS.</div>
                        <div><br></div>
                        <div>- Você pode convidar seus amigos e criar sua própria rede <span style="color: #03a9f4;">ACHOW</span>.</div>
                        <div><br></div>
                        <div>&nbsp;- Dar sua opinião ON LINE sobre os lugares e &nbsp;serviços que você consultou</div>
                        <div><br></div>
                        <div>&nbsp;- Marcar um encontro no lugar que você quer se encontrar com um ou mais pessoas através do aplicativo</div>
                        <div><br></div>
                        <div>&nbsp;- Entrar na exclusiva Sala de Bate Papo que disponibilizamos pra você e interagir com quem quiser</div>
                        <div><br></div>
                        <div>&nbsp;- Salvar seus lugares favoritos, e assim não precisa mais fazer uma segunda busca para encontra-lo novamente.</div>
                        <div><br></div>
                        <div>&nbsp;- Ter acesso aos cardápios com preço para escolher o quiser, e poderá ligar imediatamente pelo aplicativo para fazer seu pedido, &nbsp;legal né ?</div>
                        <div><br></div>
                        <div>&nbsp;- E se você gostou do lugar visitado, marque GOSTEI...e não esqueça de deixar seu depoimento, ele vai ajudar as pessoas a melhorarem seu negócio, isso vai ser bom pra você também.</div>
                        <div><br></div>
                        <div>Portanto, faça o DOWNLOAD GRATUITO de nosso aplicativo, e leve tudo isso no seu CELULAR, estamos sempre em busca de novidades, já temos algumas, &nbsp;fique atento e siga-nos no Facebook temos uma FAN PAGE te esperando, lá você saberá de tudo que acontecer no seu&nbsp;</div>
                        <div><br></div>
                        <div><span style="color: #03a9f4;">ACHOW</span>.</div>
                        <div><br></div>
                        <div><b>Equipe <span style="color: #03a9f4;">ACHOW</span></b></div>
                    <p></p>
                </div>
			</md-tab>
			<md-tab label="Fale Consco">
				<md-list>
					<md-list-item class="md-2-line">
						<i class="material-icons" style="margin:20px;">phone</i>
						<div class="md-list-item-text">
							<h3>Telefone</h3>
							<p>(15) 3261-5686</p>
						</div>
					</md-list-item>
					<md-list-item class="md-2-line">
						<i class="ion-social-whatsapp" style="margin:20px;font-size:30px;"></i>
						<div class="md-list-item-text">
							<h3>Whatsapp: (15) 99763-6965</h3>
						</div>
					</md-list-item>
					<md-list-item class="md-2-line" ng-href="https://www.facebook.com/Achowpag/?fref=ts&__mref=message_bubble">
						<i class="ion-social-facebook" style="margin:20px;font-size:30px;"></i>
						<div class="md-list-item-text">
							<h3>Página do Facebook</h3>
						</div>
					</md-list-item>
					<md-list-item class="md-2-line" ng-href="https://www.facebook.com/groups/1655880931318136/?__mref=message_bubble">
						<i class="ion-social-facebook-outline" style="margin:20px;font-size:30px;"></i>
						<div class="md-list-item-text">
							<h3>Grupo do Facebook</h3>
						</div>
					</md-list-item>
					<md-list-item class="md-2-line" ng-href="https://www.instagram.com/achowapp/">
						<i class="ion-social-instagram" style="margin:20px;font-size:30px;"></i>
						<div class="md-list-item-text">
							<h3>Instagram</h3>
						</div>
					</md-list-item>
					<md-list-item class="md-2-line" ng-href="https://twitter.com/achowapp/">
						<i class="ion-social-twitter" style="margin:20px;font-size:30px;"></i>
						<div class="md-list-item-text">
							<h3>Twitter</h3>
						</div>
					</md-list-item>
					<md-list-item class="md-2-line" ng-href="mailto:contato@achow.com.br">
						<i class="material-icons" style="margin:20px;">email</i>
						<div class="md-list-item-text">
							<h3>E-mail: contato@achow.com.br</h3>
						</div>
					</md-list-item>
				</md-list>
			</md-tab>
			<md-tab label="Política de Privacidade">
				<div class="card-data" style="margin:10px;">
                    <p>
                        </p><div>Ao utilizarmos os diversos serviços oferecidos na Internet, usualmente fornecemos informações pessoais aos sites pelos quais navegamos.</div>
                        <div><br></div>
                        <div>Através deste documento, o <span style="color: #03a9f4;">ACHOW</span> esclarece aos usuários como essas informações são coletadas e a que uso se destinam.</div>
                        <div><br></div>
                        <div>Para que possamos conhecer melhor nossos usuários e, assim, oferecer um serviço cada vez mais eficiente e direcionado às pessoas que o utilizam, solicitamos o preenchimento de um formulário de registro e efetuamos, periodicamente, pesquisas online, respondidas sempre de forma voluntária.</div>
                        <div><br></div>
                        <div>Além disso, as operações efetuadas no uso do site são registradas sistematicamente, incluindo a hora da transação, o endereço IP de sua estação (esse é um número automaticamente atribuído ao seu computador cada vez que se conecta a Internet), a identificação do usuário (no caso de estar cadastrado) e a operação realizada.</div>
                        <div><br></div>
                        <div>Não armazenamos informações financeiras a seu respeito no SITE ou APLICATIVO e quando informações a seu respeito são transmitidas, isto é feito num ambiente seguro, no qual os dados são criptografados. O ícone “Cadeado Fechado“, localizado na barra de status indica que as informações serão criptografadas.</div>
                        <div><br></div>
                        <div>Você também poderá identificar a segurança com as URLs das páginas seguras a partir da nomenclatura “https“ antes do domínio.</div>
                        <div><br></div>
                        <div>Tomamos todas as providências para protegê-lo da interceptação, mau uso e adulteração de suas informações pessoais.</div>
                        <div><br></div>
                        <div>O <span style="color: #03a9f4;">ACHOW</span> não divulga dados individuais dos usuários sem consentimento expresso para tal, embora sejam normalmente divulgados dados sobre a população geral de usuários, ou seus subconjuntos, como distribuição geográfica, por faixa etária, sexo ou outras características gerais, sem identificá-los individualmente.</div>
                        <div><br></div>
                        <div>O <span style="color: #03a9f4;">ACHOW</span> também garante que não repassa informações a terceiros para uso em malas diretas ou listas de emails sem a expressa autorização dos usuários.</div>
                        <div><br></div>
                        <div>Os emails que o <span style="color: #03a9f4;">ACHOW</span> envia têm a finalidade única de prestar informações pertinentes ao serviço oferecido, como comunicar alterações e enviar avisos ou informações solicitados pelo próprio usuário.</div>
                        <div><br></div>
                        <div>Em virtude da natureza das operações do <span style="color: #03a9f4;">ACHOW</span>, tais emails podem conter mensagens publicitárias.</div>
                        <div><br></div>
                        <div>Os usuários que não desejarem mais receber esses comunicados devem clicar no link de opt-out, contido em todos os rodapés dos emails disparados pelo <span style="color: #03a9f4;">ACHOW</span>.</div>
                        <div><br></div>
                        <div>Dessa forma, o usuário deixará de receber as mensagens do remetente <span style="color: #03a9f4;">ACHOW</span> automaticamente.</div>
                        <div><br></div>
                        <div>Contudo, é de conhecimento que nenhum dado está 100% seguro na Internet. Sendo assim, embora o <span style="color: #03a9f4;">ACHOW</span> sempre coloque seus melhores esforços para proteger suas informações pessoais, não é possível garantir a segurança de todas as informações que você venha a nos fornecer, o que torna a utilização do serviço nessas condições uma decisão pessoal do usuário.</div>
                        <div><br></div>
                        <div>Equipe <span style="color: #03a9f4;">ACHOW</span>.</div>
                    <p></p>
                </div>
			</md-tab>
			<md-tab label="Termos e Condições">
				<div class="card-data" style="margin:10px;">
                    <p>
                        </p><div>O <span style="color: #03a9f4;">ACHOW</span> atua como um veiculador de informações, anúncios e serviços relacionados a Guia Comercial e serviços de Entretenimento. As informações prestadas e a comercialização dos produtos e serviços no <span style="color: #03a9f4;">ACHOW</span> são de responsabilidade exclusiva de seus respectivos anunciantes.</div>
                        <div><br></div>
                        <div>O <span style="color: #03a9f4;">ACHOW</span> procura manter clientes e usuários constantemente informados sobre as novidades dos setores, contando com a colaboração de alguns parceiros, veículos de informação ou articulistas.</div>
                        <div><br></div>
                        <div>Todo e qualquer conteúdo ou serviço prestado por outras empresas e publicado no <span style="color: #03a9f4;">ACHOW</span> através de anúncios, notícias ou hyperlinks não poderá ser alterado ou distribuído, publicado ou utilizado para fins comerciais por qualquer usuário sem autorização prévia da equipe <span style="color: #03a9f4;">ACHOW</span> ou do próprio anunciante.</div>
                        <div><br></div>
                        <div>As marcas, logotipos layouts, fotos, nomeações de serviços e todo material deste site e aplicativo são de propriedade do <span style="color: #03a9f4;">ACHOW</span> e seus associados, ficando estritamente proibido o seu uso por terceiros sem prévia autorização da direção do <span style="color: #03a9f4;">ACHOW</span>.</div>
                    <p></p>
                </div>
			</md-tab>
		</md-tabs>
	</div>
</div>