<div class="content stores">
	<div class="stores">
		<div ng-show="stores.length == 0">
			<h3 class="h3">Você não adicionou nenhum estabelecimento aos seus favoritos</h3>
		</div>
		<md-card class="store" ng-repeat="store in stores" ng-click="goStore(store)">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{ store.name }}</span>
					<span class="md-subhead">{{ store.address }}</span>
					<span class="md-subhead">{{ store.phone1 }}</span>
				</md-card-title-text>
				<md-card-title-media>
					<div class="md-media-sm card-media">
						<img ng-src="/images/{{ store.icon ? 'store/' + store.icon : 'logo-sq.png' }}">
					</div>
				</md-card-title-media>
			</md-card-title>
		</md-card>
	</div>
</div>