<div class="content page">
	<div class="store">
		<div class="data">
			<div class="images">
				<flex-slider slide="image in images track by $index">
					<li>
						<img ng-src="/images/store/{{ image }}">
					</li>
				</flex-slider>
			</div>

			<div class="profile">
				<div class="icon">
					<img ng-src="/images/{{ store.icon ? 'store/' + store.icon : 'logo-sq.png' }}">
				</div>
				<div class="info">
					<div class="name">{{ store.name }}</div>
					<div class="address">{{ store.address }}</div>
					<div class="phone">{{ store.phone1 }}</div>
					<div class="desc">{{ store.description }}</div>
				</div>
			</div>

			<div class="options2">
				<md-button class="md-raised md-primary bt1" ng-click="meeting()">
					<i class="material-icons">group</i> Marcar Encontro
				</md-button>
				<md-button class="md-raised md-primary bt2" ng-click="like()">
					<i class="material-icons">thumb_up</i> Curtir
				</md-button>
				<md-button class="md-raised md-primary bt3" ng-click="here()">
					<i class="material-icons">place</i> Confirmar Participação
				</md-button>
			</div>

			<div class="menu" ng-show="menu.length > 0">
				<div class="menuItem md-whiteframe-z1" ng-repeat="m in menu">
					<md-toolbar class="title md-primary" ng-click="m.open = !m.open">
						<div class="md-toolbar-tools">
							<h3 class="ng-binding">{{ m.type }}</h3>
						</div>
					</md-toolbar>

					<md-list class="items" ng-show="m.open">
						<md-list-item class="md-2-line contact-item _md-no-proxy item" ng-repeat="item in m.items">
							<img class="img md-avatar" ng-src="/images/menu/{{ item.image }}">
							<div class="md-list-item-text compact">
								<h3>{{ item.name }}</h3>
								<p>{{ item.description }}</p>
								<p>R$ <b>{{ item.price }}</b></p>
							</div>
						</md-list-item>
					</md-list>
				</div>
			</div>

			<div class="menu">
				<div class="menuItem md-whiteframe-z1">
					<md-toolbar class="title md-primary">
						<div class="md-toolbar-tools">
							<h3 class="ng-binding">Comentários</h3>
						</div>
					</md-toolbar>

					<form name="form">
						<md-input-container class="md-block">
							<label>Digite seu comentário</label>
							<textarea ng-model="newComment.message" md-maxlength="150" rows="5" md-select-on-focus></textarea>
						</md-input-container>

						<md-button ng-disabled="newComment.message.length == 0" ng-click="sendComment()" class="md-raised md-primary">Enviar</md-button>
					</form>

					<md-list class="items">
						<md-list-item class="md-2-line contact-item _md-no-proxy item" ng-repeat="comment in comments">
							<a href="/#/usuario/{{ comment.idAccount }}">
								<img class="img md-avatar" ng-src="{{ !comment.image ? '/images/logo-sq.png' : comment.image.indexOf('http') == 0 ? comment.image : '/' + comment.image }}">
							</a>
							<div class="md-list-item-text compact">
								<h3>{{ comment.name + ' ' + comment.lastname }}</h3>
								<p>{{ comment.message }}</p>
							</div>
						</md-list-item>
					</md-list>
				</div>
			</div>
		</div>

		<div class="side">
			<div id="map"></div>

			<md-card class="schedule" ng-show="confirms.length > 0">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Confirmaram participação</span>
						<div class="users">
							<div class="user" ng-click="goUser(user)" ng-repeat="user in confirms">
								<img class="img md-avatar" ng-src="{{ !user.image ? '/images/logo-sq.png' : user.image.indexOf('http') == 0 ? user.image : '/' + user.image }}">
								<div class="number">{{ $index }}</div>
							</div>
						</div>
					</md-card-title-text>
				</md-card-title>
			</md-card>

			<md-card class="schedule" ng-show="likes.length > 0">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Curtiram</span>
						<div class="users">
							<div class="user" ng-click="goUser(user)" ng-repeat="user in likes">
								<img class="img md-avatar" ng-src="{{ !user.image ? '/images/logo-sq.png' : user.image.indexOf('http') == 0 ? user.image : '/' + user.image }}">
							</div>
						</div>
					</md-card-title-text>
				</md-card-title>
			</md-card>
		</div>
	</div>
</div>