<div class="content page">
	<div class="store">
		<div class="data">
			<div class="images">
				<flex-slider slide="image in images track by $index">
					<li>
						<img ng-src="/images/store/{{ image }}">
					</li>
				</flex-slider>
			</div>

			<div class="profile">
				<div class="icon">
					<img src="/images/{{ store.icon ? 'store/' + store.icon : 'logo-sq.png' }}">
				</div>
				<div class="info">
					<div class="name">{{ store.name }}</div>
					<div class="address">{{ store.address }}</div>
					<div class="phone">{{ store.phone1 }}</div>
					<div class="desc">{{ store.description }}</div>
				</div>
			</div>

			<div class="options" layout="row">
				<md-button class="md-raised md-primary">Favoritos</md-button>
				<md-button class="md-raised md-primary">Marcar</md-button>
				<md-button class="md-raised md-primary">Gostei</md-button>
				<md-button class="md-raised md-primary">Estou Aqui</md-button>
			</div>

			<div class="menu" ng-show="menu.length > 0">
				<div class="menuItem md-whiteframe-z1" ng-repeat="m in menu">
					<md-toolbar class="title md-primary" ng-click="m.open = !m.open">
						<div class="md-toolbar-tools">
							<h3 class="ng-binding">{{ m.type }}</h3>
						</div>
					</md-toolbar>

					<md-list class="items" ng-show="m.open">
						<md-list-item class="md-2-line contact-item _md-no-proxy item" ng-repeat="item in m.items">
							<img class="img md-avatar" ng-src="/images/menu/{{ item.image }}">
							<div class="md-list-item-text compact">
								<h3>{{ item.name }}</h3>
								<p>{{ item.description }}</p>
								<p>R$ <b>{{ item.price }}</b></p>
							</div>
						</md-list-item>
					</md-list>
				</div>
			</div>

			<div class="menu">
				<div class="menuItem md-whiteframe-z1">
					<md-toolbar class="title md-primary">
						<div class="md-toolbar-tools">
							<h3 class="ng-binding">Comentários</h3>
						</div>
					</md-toolbar>

					<form name="form">
						<md-input-container class="md-block">
							<label>Digite seu comentário</label>
							<textarea ng-model="newComment.message" md-maxlength="150" rows="5" md-select-on-focus></textarea>
						</md-input-container>

						<md-button ng-disabled="newComment.message.length == 0" ng-click="sendComment()" class="md-raised md-primary">Enviar</md-button>
					</form>

					<md-list class="items">
						<md-list-item class="md-2-line contact-item _md-no-proxy item" ng-repeat="comment in comments">
							<img class="img md-avatar" ng-src="{{ comment.image.indexOf('http') == 0 ? comment.image : '/' + comment.image }}">
							<div class="md-list-item-text compact">
								<h3>{{ comment.name + ' ' + comment.lastname }}</h3>
								<p>{{ comment.message }}</p>
							</div>
						</md-list-item>
					</md-list>
				</div>
			</div>
		</div>

		<div class="side">
			<div id="map"></div>

			<md-card class="schedule" ng-show="schedule.length > 0">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Horário de Funcionamento</span>
						<span class="md-subhead" ng-repeat="day in schedule">
							{{ dayOfWeeks[day.dayOfWeek] }} <div>{{ day.hourOpen + ' - ' + day.hourClose }}</div>
						</span>
					</md-card-title-text>
				</md-card-title>
			</md-card>

			<div ng-show="stores.length > 0">
				<h2 class="title">Lugares parecidos</h2>
				<md-card class="store" ng-click="goStore(store)" ng-repeat="store in stores">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">{{ store.name }}</span>
							<span class="md-subhead">{{ store.phone1 }}</span>
						</md-card-title-text>
						<md-card-title-media>
							<div class="md-media-sm card-media">
								<img src="/images/{{ store.icon ? 'store/' + store.icon : 'logo-sq.png' }}">
							</div>
						</md-card-title-media>
					</md-card-title>
				</md-card>
			</div>
		</div>
	</div>
</div>